.top {
    background-image: url("../img/bg_1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1000px;
    width: 100%;
    color: white;
}

.titlesTop {
    width: 78%;
    height: 568px;
    padding-top: 304px;
}

.in-titlesTop > span:nth-child(1) {
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 6vw;
    padding-top: 128px;
    padding-left: 13%;
}

.in-titlesTop > span:nth-child(2) {
    padding-left: 13.7%;
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 1.5vw;
}

.in-titlesTop {
    background-image: url("../img/plastic_winows.png");
    background-repeat: no-repeat;
    padding-top: 3%;
    padding-bottom: 19%;
    background-size: 100%;
    background-position: center;
    width: 92%;
}

.buttonTop {
    display: flex;
    justify-content: center;
}

@font-face {
    font-family: 'Lato';
    src: url("../font/Lato-Bold.ttf");
}

.buttonTop > div {
    font-family: 'Lato';
    font-weight: 800;
    font-size: 20px;
    line-height: 49px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    width: 221px;
    height: 49px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    cursor: pointer;
}

@media screen and (max-width: 620px) {
    .in-titlesTop > span:nth-child(2) {
        font-size: 13px;
        padding-top: 5px;
    }
}

@media screen and (max-width: 420px) {
    .in-titlesTop > span:nth-child(1) {
        padding-left: 28px;
        font-size: 24px;
        line-height: 28px;
        display: block;
        padding-top: 0;
    }
    
    .in-titlesTop > span:nth-child(2) {
        padding-left: 20px;
        display: block;
        max-width: 147px;
        line-height: 130%;
    }

    .titlesTop {
        width: 100%
    }

    .in-titlesTop {
        width: 85%;
        background-image: url('../img/plastic-winows-sm.png');
        padding-top: 10%;
    }
}

@media screen and (max-width: 315px) {
    .in-titlesTop {
        width: 100%;
    }
}
